/* --------------------------------------
=========================================
RESPONSIVE FIXES
=========================================
-----------------------------------------*/
 

 @media (max-width: 1024px) {

    .animated {
        -webkit-transform: translateZ(0);
    }

    
}

@media (min-width: 768px) and (max-width: 1024px) {
       .navbar-header {
        margin:0 auto !important;
    } 

    
}

@media (max-width: 768px) {
 
    .navbar-header {
        margin:0 auto !important;
    }

    #home-header .intro-section .intro {
        font-size:2.2em;
        margin-top:50px;
        width:90%;
    }

    footer{
        text-align: center;
    }

    footer img {
        text-align: center;
        width:72px;
        height:40px;
        margin-bottom:10px;
    }

    .footer-links a {
        margin-bottom:5px;
    }

    .footer-cta {
        margin:24px auto 0 auto;
        text-align: center;
    }

    .footer-copy {
        text-align: center;
    }
    
    
}

@media (max-width: 480px) {
 
    
     html {
        font-size: 60.5%;
    }

    .navbar-header {
        margin:0 auto !important;
    }
    header .navbar-brand {
        width:100%;
    }

    header .navbar-brand img {
        width:72px;
        height:40px;
    }

    #home-header .intro-section .intro {
        font-size:1.9em;
        margin-top:50px;
        width:90%;
    }

    footer{
        text-align: center;
    }

    footer img {
        text-align: center;
        width:72px;
        height:40px;
        margin-bottom:10px;
    }

    .footer-links a {
        margin-bottom:5px;
    }

    .footer-cta {
        margin:24px auto 0 auto;
        text-align: center;
    }

    .footer-copy {
        text-align: center;
    }
    
}

@media (max-width: 320px) {
 
    
    html {
        font-size: 60.5%;
    }

    .navbar-header {
        margin:0 auto !important;
    }
    header .navbar-brand {
        width:100%;
    }

    header .navbar-brand img {
        width:72px;
        height:40px;
    }

    #home-header .intro-section .intro {
        font-size:1.6em;
        margin-top:50px;
        width:90%;
    }

    footer{
        text-align: center;
    }

    footer img {
        text-align: center;
        width:72px;
        height:40px;
        margin-bottom:10px;
    }

    .footer-links a {
        margin-bottom:5px;
    }

    .footer-cta {
        margin:24px auto 0 auto;
        text-align: center;
    }

    .footer-copy {
        text-align: center;
    }
}

@media (min-width: 666px) and (max-width: 736px) {
    .navbar-header {
        margin:0 auto !important;
    }

    #home-header .intro-section .intro {
        font-size:2.2em;
        margin-top:50px;
        line-height: 1.4em;
        width:90%;
    }
}

@media (min-width: 320px) and (max-width: 640px) and  (orientation: landscape) {

     html {
        font-size: 60.5%;
    }

    .navbar-header {
        margin:0 auto !important;
    }

    header .navbar-brand {
        width:100%;
    }

    header .navbar-brand img {
        width:72px;
        height:40px;
    }

    #home-header .intro-section .intro {
        font-size:1.9em;
        margin-top:50px;
        width:90%;
    }

    footer{
        text-align: center;
    }

    footer img {
        text-align: center;
        width:72px;
        height:40px;
        margin-bottom:10px;
    }

    .footer-links a {
        margin-bottom:5px;
    }

    .footer-cta {
        margin:24px auto 0 auto;
        text-align: center;
    }

    .footer-copy {
        text-align: center;
    }

    
}
