html {
    font-size: 100%;
}

body {
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #313131;
    line-height: 28px;
    text-align: center;
    overflow-x: hidden !important;
    margin: auto !important;
}


/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */

@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

a {
    -webkit-transition: all ease 0.25s;
            transition: all ease 0.25s;
    color:#4A90E2;
}

a:hover {
    text-decoration: none;
}

.btn:focus,
.btn:active {
    outline: inherit;
}


/* Other fixes*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
            box-sizing: border-box;
}

ul,
ol {
    padding-left: 0 !important;
}

li {
    list-style: none;
}


/*---------------------------------------
   Typography
-----------------------------------------*/

/* FONT FACE LOADER */
@font-face {
    font-family: 'Lane';
    src: url('../fonts/lanenar_Lane.eot');
    src: url('../fonts/lanenar_Lane.eot?#iefix') format('embedded-opentype'), url('../fonts/lanenar_Lane.woff') format('woff'), url('../fonts/lanenar_Lane.ttf') format('truetype'), url('../fonts/lanenar_Lane.svg#Lane') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {

    @font-face {
        font-family: 'Lane';
        src: url('../fonts/lanenar_Lane.svg#Lane') format('svg');
    }
}

/* HEADINGS */

h1,
h2 {
    font-family: 'Lane', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 3.75rem;
    line-height: 4.688rem;
}

h2 {
    font-size: 3.125rem;
    line-height: 1.1em;
}

h3 {
    font-size: 24px;
    line-height: 38px;
    font-weight: 300;
}

h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

h5 {
    font-size: 18px;
    font-weight: 300;
}

/*---------------------------------------
   CUSTOM BUTTON
-----------------------------------------*/

.btn-primary {
    background:transparent !important;
    border:1px solid #A7002E !important;
    color:#A7002E;
    margin:0;
}

.btn-primary:hover, .btn-primary:focus {
    color:#fff;
    background:#A7002E !important;
}

.btn-primary:active {
    color:#fff;
    background:#7C0021 !important;
}

/*---------------------------------------
   SECTIONS
-----------------------------------------*/

.section-header {
    padding-bottom: 30px;
}

.section-header h2 {
    margin-bottom: 20px;
}

.section-header .section-description {
    display: inline-block;
    position: relative;
    text-align: center;
}

#home-header {
    background: #000 url(../images/launch-photo-1.png) no-repeat center top fixed;
    /* -webkit-background-size: cover;
            background-size: cover; */
    min-height:600px;
}

header .color-overlay {
    min-height: 900px;
}

header .full-screen {
    width: 100%;
    height: 100px;
}

.navbar-header {
    margin:0 auto;
    text-align: center;
    width:100%;
}

.navbar-brand {
    float:none;
    display:block;
    height:auto;
    margin:70px auto 0 auto !important;
    padding:0;
    text-align: center !important;
}


/* TOP BAR WITH NAVIGATION */


header .only-logo .navbar {
    background: none;
    padding: 60px;
}

header .only-logo .navbar .navbar-header {
    float: none;
}

/* INTRO */

header .home-contents {
}

#home-header .intro-section {
    text-align: center;
    padding:0;
}

#home-header .intro-section .standard-button {
    margin: 0;
    border:1px solid #fff !important;
}

#home-header .intro-section .intro {
    color: #ffffff;
    margin:110px auto 0 auto;
    width:76%;
}

#home-header .intro-section h1 {
    font-size:2.5em;
}

#home-header .intro-section h5 {
    color: #ffffff;
    line-height: 1.8em;
    font-size:1.3em;
    font-weight: 300;
    max-width:320px;
    margin-bottom:60px;
}

#home-header .intro-section .buttons {
    margin-top: 35px;
}

.signup-form {
    padding:24px 0 40px 0;
}

.signup-form .control-label {
    padding-right:0;
}

.checkbox-set {
    text-align: left;
    margin-top:5px !important;
    line-height: 1.4em
}

.checkbox-set label {
    padding:0 0 8px 0 !important;
    display: inline-block;
}

.sub-text {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #742932 url(../images/bar-bg.png) center 0 no-repeat;
}

.sub-text .section-header {
    padding-bottom: 0px;
}

.sub-text .section-description {
    color:#fff;
    font-size:1.2em;
    line-height:1.85em;
    font-weight:300;
}

.sub-text .side-image {
    margin: auto;
    margin-bottom: 80px;
}

.side-image img {
        width:100%;
}

h4.subscription-error {
    display:none;
    font-weight:700;
    color:#fff;
    font-size:.9em;
    background:#742932;
    padding:14px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
}

.subscription-error i {
    color:#fff;
    text-align: center;
    margin:0 auto -14px 0;
    display:block;
    font-size:24px;
}

.icon_check_alt2 {
    color:#fff;
    text-align: center;
    margin:0 auto -14px 0;
    display:block;
    font-size:24px;
}

h4.subscription-success {
    display:none;
    font-weight:700;
    color:#fff;
    font-size:.9em;
    background:#417505;
    padding:14px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
}

/* vidoes section */

.section-videos {
    background:#000;
    padding:40px 0 20px 0;
}
/*---------------------------------------
   SECTION:  FOOTER
-----------------------------------------*/
footer {
    background:#000;
    padding:40px 0 60px 0;
    text-align: left;
    color:#808080;
    font-size:.83em;
    line-height: 1.2em
}

.footer-links {
    margin:24px 0;
}

.footer-links a {
    display:inline-block;
    margin:0 24px 0 0;
}

.footer-cta {
    padding:0 0 70px 0;
}

.footer-cta .btn-primary {
    background:#830615 !important;
    border-color:#830615 !important;
    color:#fff;
    min-width:200px;
}

.footer-cta .btn-primary:hover {
    background:transparent !important;
    border-color:#830615 !important;
    color:#fff;
}

.footer-cta .btn-primary:active {
    background:#D0021B !important;
    border-color:#830615 !important;
    color:#fff;
}


/* TINTUP */

.tintup {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #333 url(../images/bar-bg.png) center 0 no-repeat;
    color:#fff;
}

.today {
    border: 1px solid #A7002E !important;
    padding: 10px 16px;
    border-radius: 6px;
}
